// * Variable
$font: "Inter", Helvetica, sans-serif;

body {
  cursor: default;
  font-family: $font;

  .container {
    margin: 40vh 20vw;

    p {
      margin-top: -0.9em;
      font-size: 0.94em;
    }
  }

  footer p {
    text-align: center;
  }
}

body.night {
  background-color: black;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: whitesmoke;
  }
}
