* {
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

.jumbotron {
    background: none;
}

section {
    min-height: 480px;
}

.nav-link {
    transition: 0.4s;
}

.nav-link:hover {
    color: #2430FF !important; 
}

#donate {
    display: none;
}

#disabled-donate {
    display: none;
}

.accent {
    background-color: #2430FF;
}

.accent:hover {
    background-color: #2430FF;
    box-shadow: 0px 0px 15px #2430FF;
}

.git:hover {
    box-shadow: 0px 0px 15px gray;
}

.info-panel {
    border-radius: 8px;
    margin: 0 10px;
}

/* Icons Hover */

.info-panel img {
    width: 60px;
    margin-bottom: 20px;
    border-radius: 40px;
    transition: 0.2s;
}

.info-panel #custom:hover {
    box-shadow: 0 0 12px #AF15FF;
}

.info-panel #experience:hover {
    box-shadow: 0 0 12px #2430FF;
}

.info-panel #updates:hover {
    box-shadow: 0 0 12px #FF008C;
}

/* End of Icons Hover */

footer {
    margin-top: 20px;
}

footer p {
    font-size: 12px;
    color: #3d3d3d;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* About Page */

#avatar {
    width: 200px;
    border-radius: 100px;
}

.attribute a {
    text-decoration: none;
}

.social-media-icons {
    margin-left: 6px;
    margin-right: 6px;
    width: 20px;
}

/* Donate Page */

.card {
    border: none;
    margin: 0 10px;
}

/* Large Device Version */
@media (min-width: 992px) { 
    .hero {
        width: 130%;
        margin-left: -70px;
    }

    #donate {
        color: #3d3d3d;
        background-color: rgb(248, 248, 248);
        padding-right: 20px;
        padding-left: 20px;
        border-radius: 6px;
        display: inline;
    }

    #donate:hover {
        box-shadow: 0px 0px 12px rgb(28, 241, 135);
        color: white;
        background-color: rgb(28, 241, 135);
    }

    #disabled-donate {
        color: grey;
        background-color: rgb(248, 248, 248);
        padding-right: 20px;
        padding-left: 20px;
        border-radius: 6px;
        display: inline;
    }

    .donate-sm {
        display: none;
    }

    footer {
        margin-top: -40px;
    }
 }

/* Desktop Version */
@media (min-width: 1200px) { 
    .hero {
        width: 130%;
        margin-top: -70px;
        margin-left: -70px;
    }

    footer {
        margin-top: -40px;
    }
        
    #donate {
        color: #3d3d3d;
        font-weight: bold;
        background-color: rgb(240, 240, 240);
        padding-right: 20px;
        padding-left: 20px;
        border-radius: 6px;
        display: inline;
    }

    #donate:hover {
        box-shadow: 0px 0px 12px rgb(28, 241, 135);
        color: white;
        background-color: rgb(28, 241, 135);
    }

    #disabled-donate {
        color: grey;
        background-color: rgb(248, 248, 248);
        padding-right: 20px;
        padding-left: 20px;
        border-radius: 6px;
        display: inline;
    }

    .donate-sm {
        display: none;
    }
    
 }